@page
@model IndexModel
@{
    ViewData["Title"] = "Version Checker";
}

@* Search *@
<div class="row">
    <div class="col-md-6 mx-auto bg-secondary mt-4 rounded p-3">
        <h1 class="display-4 text-white text-center">Welcome</h1>
        <form>
            <label for="version text-left">Please enter in a version number to check</label>
            <input type="text" asp-for="VersionSearch" class="form-control" id="version" aria-describedby="versionHelp" placeholder="Enter Version" />
            <small id="versionHelp" class="text-small text-left">Examples: "2", "1.5", or "2.12.4.0.6"</small>
            <br />
            <span asp-validation-for="VersionSearch" class="text-danger"></span>
            <button class="btn btn-primary rounded w-100 mt-1" type="submit" role="button">Search</button>
        </form>
    </div>
</div>

@* Results *@
@if (Model.Results.Any())
{
    <div class="row mt-3">
        <div class="col-md-8 mx-auto">
            <table class="table table-secondary border">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Version</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Name</td>
                            <td>@result.Version</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.VersionSearch is not null && ModelState.IsValid && !Model.Results.Any())
{
    <div class="row mt-3">
        <div class="col-md-8 mx-auto text-white text-center">
            <p>No Results Found.</p>
            Please enter another version and try again.
        </div>
    </div>
}
